
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #16DB65;
    margin: 1em 0;
    padding: 0;
}

body {

    background-color: #FCF7F8;
}


.navbar{
    background-color: #16DB65 !important;
}
            
.dynamic-card-container{
            
            
}

p{
    font-family: teimer-web, serif;
    font-style: normal;
    font-weight: 300;
}
.navbar-nav>li{
    border-right: 1px solid #000;
  }